<div class="main-container">
    <div class="invisible-container">
      <div class="invisible-container-left"></div>
      <div class="invisible-container-right">
        <button class="button green" (click)="addProject()">New Project</button>
      </div>
    </div>
    <div class="issues-container">
      <div class="issues-header">
        <div class="issues-left-header">
          <div class="issues-left-header-info">
            <img src="../../assets/milestone.svg" height="20" />
            <a href="#" class="issues-header-item active">Projects</a>
          </div>
        </div>
      </div>
  
      <div class="milestone" *ngFor="let project of projects">
        <div class="milestone-left">
          <div href="#" class="milestone-heading">
            <div class="issue-heading" (click)="details(project.id)">
              {{ project.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
