<div class="main-container">

    <div class="invisible-container">
      <div class="invisible-container-left"></div>
      <div class="invisible-container-right">
        <button class="button green" (click)="addProject()">New Project</button>
      </div>
    </div>

    <div class="invisible-container">
      <div class="invisible-container-left"></div>
      <div class="invisible-container-right">
        <button class="button green" (click)="addTeam()">New Team</button>
      </div>
    </div>

    <div class="issues-container">
      <div class="issues-header">
        <div class="issues-left-header">
          <div class="issues-left-header-info">
            <img src="../../assets/milestone.svg" height="20" />
            <a href="#" class="issues-header-item active">Projects</a>
          </div>
        </div>
      </div>
  
      <div class="milestone" *ngFor="let project of projects">
        <div class="milestone-left">
          <div class="milestone-heading">
            <div class="issue-heading">
              {{ project.name }}
              <button class="button gray" (click)="deleteProject(project)">Delete</button>
            </div>
          </div>
        </div>
      </div>



    <div class="issues-container">
      <div class="issues-header">
        <div class="issues-left-header">
          <div class="issues-left-header-info">
            <img src="../../assets/milestone.svg" height="20" />
            <a href="#" class="issues-header-item active">Teams</a>
          </div>
        </div>
      </div>
  
      <div class="milestone" *ngFor="let team of teams">
        <div class="milestone-left">
          <div class="milestone-heading">
            <div class="issue-heading">
              {{ team.name }}
              <button class="button gray" (click)="deleteTeam(team)">Delete</button>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
  
