<div class="main-container">
  <div class="invisible-container">
    <div class="invisible-container-left" style="width: 50%">
      <h3>{{milestone.title}}</h3>
      <small>{{milestone.description}}</small>
    </div>
    <div class="invisible-container-right">
      <button class="button gray" (click)="edit()">Edit milestone</button>
      <button class="button green" (click)="newIssue()">New Issue</button>
    </div>
  </div>
  <div class="issues-container">
    <div class="issues-header">
      <div class="issues-left-header">
        <div class="issues-left-header-info">
          <img src="../../assets/opened-black.svg" height="20" />
          <a href="#" class="issues-header-item active">{{openedNum()}} Open</a>
        </div>
        <div class="issues-left-header-info">
          <img src="../../assets/closed-black.svg" height="20" />
          <a href="#" class="issues-header-item">{{tasks.length - openedNum()}} Closed</a>
        </div>
      </div>
      <div class="issues-right-header">
      </div>
    </div>

    <div *ngFor="let task of tasks" class="issue">
      <div class="issue-heading-container">
        <img src="../../assets/opened-issue.svg" height="20" />
        <div class="issue-heading" (click)="editIssue(task)">
          {{ task.title }}
        </div>
        <div *ngFor="let label of task.labels" class="label-container">
          <div class="label" [style.background]="label.color">{{label.title}}</div>
        </div>
      </div>
      <div class="issue-desc">
        {{task.description}}
      </div>
    </div>

  </div>
</div>
