<div class="main-container">
  <div class="invisible-container">
    <div class="invisible-container-left"></div>
    <div class="invisible-container-right">
      <button class="button green">New Milestone</button>
    </div>
  </div>
  <div class="issues-container">
    <div class="issues-header">
      <div class="issues-left-header">
        <div class="issues-left-header-info">
          <img src="../../assets/milestone.svg" height="20" />
          <a href="#" class="issues-header-item active">16 Milestones</a>
        </div>
      </div>
    </div>

    <div class="milestone">
      <div class="milestone-left">
        <div href="#" class="milestone-heading">Screens</div>
        <div class="milestone-desc">
          <img src="../../assets/calendar.svg" height="15" />
          <div class="milestone-date-info">Due by: 12.03.2021. at 19:02</div>
          <img src="../../assets/clock.svg" height="15" />
          <div class="milestone-date-info">Created: 12.03.2021. at 19:02</div>
        </div>
      </div>
      <div class="milestone-right">
        <div class="milestone-right-row">
          <div class="milestone-stats">
            <div class="stats-num">8</div>
            <div class="stats-status">Opened</div>
            <div class="stats-num">11</div>
            <div class="stats-status">Closed</div>
          </div>
        </div>
        <div class="milestone-right-row">
          <button class="edit-link" (click)="edit()">Edit</button>
          <button class="delete-link" (click)="delete()">Delete</button>
        </div>
      </div>
    </div>

    <div class="milestone">
      <div class="milestone-left">
        <div href="#" class="milestone-heading">Screens</div>
        <div class="milestone-desc">
          <img src="../../assets/calendar.svg" height="15" />
          <div class="milestone-date-info">Due by: 12.03.2021. at 19:02</div>
          <img src="../../assets/clock.svg" height="15" />
          <div class="milestone-date-info">Created: 12.03.2021. at 19:02</div>
        </div>
      </div>
      <div class="milestone-right">
        <div class="milestone-right-row">
          <div class="milestone-stats">
            <div class="stats-num">8</div>
            <div class="stats-status">Opened</div>
            <div class="stats-num">11</div>
            <div class="stats-status">Closed</div>
          </div>
        </div>
        <div class="milestone-right-row">
          <button class="edit-link" (click)="edit()">Edit</button>
          <button class="delete-link" (click)="delete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
