<div class="nav-bar">
  <div class="nav-bar-heading">UKS</div>
  <div class="nav-bar-content">
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/issues']">Issues</a>
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/issues']"
      >Pull requests</a
    >
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/labels']">Labels</a>
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/issues']"
      >Milestones</a
    >
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/issues']">Board</a>
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/issues']">Wiki</a>
  </div>
</div>
<router-outlet></router-outlet>
