<div class="nav-bar">
  <div class="nav-bar-heading">UKS</div>
  <div class="nav-bar-content">
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/issues']">Issues</a>
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/commits']"
      >Commits</a
    >
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/labels']">Labels</a>
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/milestones']"
      >Milestones</a
    >
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/projects']"
      >Projects</a
    >
    <a class="nav-bar-item" [routerLink]="['/dashboard/home/wiki']">Wiki</a>
    <a class="nav-bar-item" (click)="logout()">Logout</a>
  </div>
</div>
<router-outlet></router-outlet>
