<div class="main-container">
  <div class="board-contaner">
    <div class="board">
      <div class="board-info">
        <div class="tasks-num">1</div>
        Created
      </div>
      <div class="task">
        <img
          src="../../assets/three-dots.svg"
          height="15"
          class="task-edit-icon"
        />
        <div class="task-content">
          <div class="task-title-wrapper">
            <img src="../../assets/opened-issue.svg" height="15" />
            <div class="task-title">Some task</div>
          </div>
          <div class="task-desc">#19 Opened by Leona Nedeljkovic</div>
          <div
            class="label-container"
            style="margin-left: 20px; margin-top: 5px"
          >
            <div class="label" style="background-color: aqua">frontend</div>
            <div class="label" style="background-color: rgb(204, 0, 255)">
              frontend
            </div>
          </div>
          <div class="task-desc">
            <img src="../../assets/milestone.svg" height="15" />
            Screens
          </div>
        </div>
      </div>
    </div>

    <div class="board">
      <div class="board-info">
        <div class="tasks-num">0</div>
        In Progress
      </div>
    </div>

    <div class="board">
      <div class="board-info">
        <div class="tasks-num">0</div>
        In Review
      </div>
    </div>

    <div class="board">
      <div class="board-info">
        <div class="tasks-num">0</div>
        Done
      </div>
    </div>
  </div>
</div>
