<div class="central-container">
  <div class="logo-wrapper login-logo">
    <img src="../../assets/dog-seating.svg" />
  </div>
  <h2>Create your account</h2>
  <div class="form-style">
    <div class="form-label">Username *</div>
    <input type="text" class="form-input" />
    <div class="form-label">Email address *</div>
    <input type="text" class="form-input" />
    <div class="form-label">Password *</div>
    <input type="password" class="form-input" />
  </div>
  <button class="button blue">Register</button>
</div>
