<div class="black-header">
  <a href="#">
    <div class="logo-wrapper">
      <img src="../../assets/dog-seating.svg" height="30" />
    </div>
  </a>
  <input type="text" class="user-search" placeholder="Search user..." />
  <div class="right-header">
    <a href="#">
      <div class="logo-wrapper">
        <img src="../../assets/user.svg" height="30" />
      </div>
    </a>
    <button (click)="logout()" style="background-color: gray;font-size:20px;">Logout</button>
  </div>
</div>
<router-outlet></router-outlet>
