<div class="container">
  <div class="menu-container">
    <div class="menu-header">Issues Insights</div>
    <div class="menu-item" (click)="chooseChoice(selectChoice.issuesGeneral)">
      General State
    </div>
    <div class="menu-item" (click)="chooseChoice(selectChoice.issuesByUser)">
      Display by contributors
    </div>

    <div class="menu-header">User Insights</div>
    <div class="menu-item" (click)="chooseChoice(selectChoice.commits)">
      Pulse
    </div>

    <div class="menu-header">Milestone Insights</div>
    <div class="menu-item" (click)="chooseChoice(selectChoice.milestone)">
      Tasks in milestones
    </div>
  </div>
  <div class="chart-container">
    <div *ngIf="selectedChoice === selectChoice.issuesGeneral">
      <div
        *ngIf="taskOpenedChart.series?.length && taskOpenedChart.labels?.length"
      >
        <div id="chart">
          <apx-chart
            [series]="taskOpenedChart.series"
            [chart]="taskOpenedChart.chart"
            [responsive]="taskOpenedChart.responsive"
            [labels]="taskOpenedChart.labels"
          ></apx-chart>
        </div>
      </div>

      <div
        *ngIf="tasksStateChart.series?.length && tasksStateChart.labels?.length"
      >
        <div id="chart">
          <apx-chart
            [series]="tasksStateChart.series"
            [chart]="tasksStateChart.chart"
            [responsive]="tasksStateChart.responsive"
            [labels]="tasksStateChart.labels"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div *ngIf="selectedChoice === selectChoice.issuesByUser">
      <div *ngFor="let insight of usersStateInsights; index as i">
        <h2>{{ users[i].user.username }}'s Issues</h2>
        <div
          *ngIf="
            usersOpenedInsights[i].series?.length &&
            usersOpenedInsights[i].labels?.length
          "
        >
          <div id="chart">
            <apx-chart
              [series]="usersOpenedInsights[i].series"
              [chart]="usersOpenedInsights[i].chart"
              [responsive]="usersOpenedInsights[i].responsive"
              [labels]="usersOpenedInsights[i].labels"
            ></apx-chart>
          </div>
        </div>

        <div *ngIf="insight.series?.length && insight.labels?.length">
          <div id="chart">
            <apx-chart
              [series]="insight.series"
              [chart]="insight.chart"
              [responsive]="insight.responsive"
              [labels]="insight.labels"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedChoice === selectChoice.commits">
      <div id="chart">
        <apx-chart
          [series]="commitsUsers.series"
          [chart]="commitsUsers.chart"
          [dataLabels]="commitsUsers.dataLabels"
          [plotOptions]="commitsUsers.plotOptions"
          [yaxis]="commitsUsers.yaxis"
          [xaxis]="commitsUsers.xaxis"
          [legend]="commitsUsers.legend"
          [colors]="commitsUsers.colors"
          [grid]="commitsUsers.grid"
        ></apx-chart>
      </div>
    </div>
    <div
      *ngIf="
        selectedChoice === selectChoice.milestone &&
        milestonesTasks.chart !== undefined
      "
    >
      <div id="chart">
        <apx-chart
          [series]="milestonesTasks.series"
          [chart]="milestonesTasks.chart"
          [dataLabels]="milestonesTasks.dataLabels"
          [plotOptions]="milestonesTasks.plotOptions"
          [yaxis]="milestonesTasks.yaxis"
          [xaxis]="milestonesTasks.xaxis"
          [legend]="milestonesTasks.legend"
          [colors]="milestonesTasks.colors"
          [grid]="milestonesTasks.grid"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
