<div class="main-container">
  <div class="invisible-container">
    <div class="invisible-container-left">
    </div>
    <div class="invisible-container-right">
      <button class="button green" (click)="new()">New commit</button>
    </div>
  </div>
  <div class="issues-container">
    <div class="issues-header">
      <div class="issues-left-header">
        <div class="issues-left-header-info">
          <img src="../../assets/merged-pr.svg" height="20" />{{commits.length}} Commits
        </div>
      </div>
      <div class="issues-right-header">
        <div>
          <button
            class="issues-header-item"
            (click)="selectDropdown(dropdownType.author)"
          >
            <div
              style="display: flex; align-items: center; flex-direction: row"
            >
              Author
              <div class="arrow-down"></div>
            </div>
          </button>
          <div *ngIf="dropdownSelected === dropdownType.author">
            <div class="dropdown author">
              <div class="dropdown-header">
                <div class="dropdown-content-header">Filter by author</div>
                <button
                  class="x"
                  (click)="selectDropdown(dropdownType.unselected)"
                >
                  X
                </button>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">sonjajos</div>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">DusanBucan</div>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">LeonaNedeljkovic</div>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">Marina Vojnovic</div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button
            class="issues-header-item"
            (click)="selectDropdown(dropdownType.label)"
          >
            <div
              style="display: flex; align-items: center; flex-direction: row"
            >
              Label
              <div class="arrow-down"></div>
            </div>
          </button>
          <div *ngIf="dropdownSelected === dropdownType.label">
            <div class="dropdown labels">
              <div class="dropdown-header">
                <div class="dropdown-content-header">Filter by label</div>
                <button
                  class="x"
                  (click)="selectDropdown(dropdownType.unselected)"
                >
                  X
                </button>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">
                  <div
                    class="circle-small-label"
                    style="background-color: aqua"
                  ></div>
                  frontend
                </div>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">
                  <div
                    class="circle-small-label"
                    style="background-color: rgb(229, 255, 0)"
                  ></div>
                  enhancement
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button
            class="issues-header-item"
            (click)="selectDropdown(dropdownType.project)"
          >
            <div
              style="display: flex; align-items: center; flex-direction: row"
            >
              Project
              <div class="arrow-down"></div>
            </div>
          </button>
          <div *ngIf="dropdownSelected === dropdownType.project">
            <div class="dropdown projects">
              <div class="dropdown-header">
                <div class="dropdown-content-header">Filter by project</div>
                <button
                  class="x"
                  (click)="selectDropdown(dropdownType.unselected)"
                >
                  X
                </button>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">UKS</div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button
            class="issues-header-item"
            (click)="selectDropdown(dropdownType.milestone)"
          >
            <div
              style="display: flex; align-items: center; flex-direction: row"
            >
              Milestones
              <div class="arrow-down"></div>
            </div>
          </button>
          <div *ngIf="dropdownSelected === dropdownType.milestone">
            <div class="dropdown milestones">
              <div class="dropdown-header">
                <div class="dropdown-content-header">Filter by milestone</div>
                <button
                  class="x"
                  (click)="selectDropdown(dropdownType.unselected)"
                >
                  X
                </button>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">No milestones</div>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">CRUD for models</div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button
            class="issues-header-item"
            (click)="selectDropdown(dropdownType.assignee)"
          >
            <div
              style="display: flex; align-items: center; flex-direction: row"
            >
              Assignee
              <div class="arrow-down"></div>
            </div>
          </button>
          <div *ngIf="dropdownSelected === dropdownType.assignee">
            <div class="dropdown assignees">
              <div class="dropdown-header">
                <div class="dropdown-content-header">Filter by assignee</div>
                <button
                  class="x"
                  (click)="selectDropdown(dropdownType.unselected)"
                >
                  X
                </button>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">sonjajos</div>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">DusanBucan</div>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">LeonaNedeljkovic</div>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">Marina Vojnovic</div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button
            class="issues-header-item"
            (click)="selectDropdown(dropdownType.sort)"
          >
            <div
              style="display: flex; align-items: center; flex-direction: row"
            >
              Sort
              <div class="arrow-down"></div>
            </div>
          </button>
          <div *ngIf="dropdownSelected === dropdownType.sort">
            <div class="dropdown sort">
              <div class="dropdown-header">
                <div class="dropdown-content-header">Sort by</div>
                <button
                  class="x"
                  (click)="selectDropdown(dropdownType.unselected)"
                >
                  X
                </button>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">Newest</div>
              </div>
              <div class="dropdown-item">
                <div class="dropdown-content">Oldest</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="milestone" *ngFor="let commit of commits">
      <div class="milestone-left">
        <div class="milestone-heading">
          <div class="issue-heading" (click)="details(commit.id)">
            {{commit.summary}}
          </div>
        </div>
        <div class="issue-desc">
          {{commit.hash}}
        </div>
      </div>
      <div class="milestone-right">
        <div class="milestone-right-row">
          {{commit.user.user.username}}
        </div>
      </div>
    </div>
  </div>
</div>
